/* ELEMENT AESTHETICS */
.body-padding{
    padding: 60px;
}

.div-padding{
    padding: 10px;
}

.text-myPrimary{
    color: rgb(34, 36, 151) !important;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.myBG{
    background-color: navajowhite;
}

.pInfo{
    background-color: #115566;
    color: seashell;
}

.proInfo{
    background-color: #559999;
    color: seashell;
}

.HobEx{
    background-color: #88cccc;
    color: seashell;
}

.preJob{
    background-color: #bbeeee;
    color: seashell;
}

.fun{
    background-color: #d0ebdd ;
    color: seashell;
}

.bg-transparent{
    background-color: transparent;
}

.myMargins{
    margin-top: 50px;
}

/* LOADER */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* BACKGROUNDS */

/* gradient colours */
 /* body {
	background: linear-gradient(-45deg, #3498db, #f3f3f3, #19d642, #b11616);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  */

/* trees backgorund */
/* html {
	height: 100%;
	 max-height: 600px;
	width: 1000px;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
    } */

/*https://codepen.io/chris22smith/pen/RZogMa*/
html {
    height:100%;
    }
    
    body {
    margin:0;
    }
    
    .bg {
    animation:slide 8s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #000080 50%, #FF8C00 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    }
    
    .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:12s;
    }
    
    .bg3 {
    animation-duration:16s;
    }
    
    .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    }
    
    h1 {
    font-family:monospace;
    }
    
    @keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
  }
    
    @keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
    }